# Python artifacts
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Tests
tests/

# Generated gRPC files (important!)
src/grpc_timeseries/generated/*.py
!src/grpc_timeseries/generated/__init__.py
src/grpc_timeseries/generated/.protos.stamp

# Env files
.env